body{
    font-family: 'Montserrat', sans-serif;
}
header{
    display: flex;
    background: linear-gradient(#1B2A36 90%, #7BC3F5);
    padding: 15px;  
}
main{
    background-color: #7BC3F5;
}
#menuPrincipal, #agregandoPalabra, #dibujoAhorcado{
    height: 75.3vh;
    padding: 10px;
}
.botonesMenuPrincipal{
    margin-top: 7%;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
    display: flex;
    flex-direction: column;
}
#agregandoPalabra, .dibujoAhorcado{
    display: none;
}

.mensajePerdiste, .mensajeGanaste{
    display: none;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.botonesAgregandoPalabra, .botones{
    display: flex;
    margin-top: 3%;
    justify-content: space-evenly;
}
.botonIniciar{
    width: 30%;
    display: block;
    padding: 15px 10px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background: #183036;
    border: none;
    border-radius: 20px;
    transition: 1s all;
    cursor: pointer;
}
.botonAgregar{
    width: 25%;
    display: block;
    padding: 15px 10px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background: #50A2B5;
    border-radius: 20px;
    border: none;
    border-color: #183036;
    transition: 1s all;
    cursor: pointer;
}
.botonIniciar:hover{
    background-color: #38546d;
    transform: scale(1.02);
}
.botonAgregar:hover{
    background-color: #38696d;
    transform: scale(1.02);
}
.botonIniciar:active{
    background-color: aquamarine;
}
.botonAgregar:active{
    background-color: aquamarine;
}
#textAreaAgregarPalabra{
    margin: 2% 27%;
    font-size: 20px;
    background-color: #7BC3F5;
    resize: none;
    border: none;
    outline: none;
}
#textAreaAgregarPalabra::placeholder{
    color: #1B2A36;

}
.requisitos{
    margin: 0 325px;
    display: block;
    font-style: italic;
    font-weight: bolder;
}
.botonGuardar{
    width: 30%;
    padding: 15px 10px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background: #183036;
    border: none;
    border-radius: 20px;
    transition: 1s all;
    cursor: pointer;
}
.botonCancelar{
    width: 30%;
    padding: 15px 10px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background: #50A2B5;
    border-radius: 20px;
    border: none;
    border-color: #183036;
    transition: 1s all;
    cursor: pointer;
}
.botonGuardar:hover{
    background-color: #38546d;
    transform: scale(1.02);
}
.botonCancelar:hover{
    background-color: #38696d;
    transform: scale(1.02);
}
.botonGuardar:active{
    background-color: aquamarine;
}
.botonCancelar:active{
    background-color: aquamarine;
}   
.botonNuevoJuego{
    width: 30%;
    padding: 15px 10px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background: #183036;
    border: none;
    border-radius: 20px;
    transition: 1s all;
    cursor: pointer;
}
.botonRendirse{
    width: 30%;
    padding: 15px 10px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background: #50A2B5;
    border-radius: 20px;
    border: none;
    border-color: #183036;
    transition: 1s all;
    cursor: pointer;
}
.botonJugarAgain:hover{
    background-color: #38546d;
    transform: scale(1.02);
}
.botonRendirse:hover{
    background-color: #38696d;
    transform: scale(1.02);
}
.botonJugarAgain:active{
    background-color: aquamarine;
}
.botonRendirse:active{
    background-color: aquamarine;
}
footer{
    width: auto;
    height: 3vh;
    background: linear-gradient(#3B5D75,#1B2A36);
    text-align: center;
    padding: 20px;   
}
.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 5px;
}


@media screen and (max-width:767px) {

    #logoEncabezado{
        margin-top: 10%;

    }
    #menuPrincipal, #agregandoPalabra, #dibujoAhorcado{
        height: 84vh;
    }
    .botonesMenuPrincipal{
        margin-top: 50%;
        height: 40%;
    }
    .botonIniciar, .botonAgregar{
        width: 80%;
        height: 8vh;
        font-size: 1.4rem;
    }


    #textAreaAgregarPalabra{
        margin: 15% 3%;
        font-size: .8rem;
        width: 90vw;
        height: 30vh;
    }
    .requisitos{
        margin: 5% 10%;
        font-size: 1.3rem;
    }
    .botonesAgregandoPalabra{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        align-items: center;
        justify-content: space-evenly;
        height: 30%;
    }
    .botonGuardar, .botonCancelar{
        height: 8vh;
        width: 80%;
        font-size: 1.4rem;
    }


    #horca{
        margin-top: 15%;
        width: 99%;
        height: 50%;
    }
    .botones{
        margin-top: 10%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        height: 30%;
    }
    .botonNuevoJuego, .botonRendirse{
        height: 8vh;
        width: 80%;
        font-size: 1.4rem;
    }
    footer{
        height: 2.6vh;
    }
    .copyright{
        font-size: 1.1rem;
        padding-top: .5%;
    }
}
@media screen and (min-width: 768px) and (max-width:1023px) {

    header{
        height: 5vh;
    }
    #logoEncabezado{
        margin-top: 40%;

    }
    #menuPrincipal, #agregandoPalabra, #dibujoAhorcado{
        height: 84.7vh;
    }
    .botonesMenuPrincipal{
        margin-top: 40%;
        height: 30%;
    }
    .botonIniciar, .botonAgregar{
        height: 8vh;
        font-size: 1.4rem;
    }


    #textAreaAgregarPalabra{
        margin: 15% 3%;
        font-size: 1.7rem;
    }
    .requisitos{
        margin: 5% 10%;
        font-size: 1.6rem;
    }
    .botonesAgregandoPalabra{
        display: flex;
        margin-top: 10%;
        justify-content: space-evenly;
    }
    .botonGuardar, .botonCancelar{
        height: 8vh;
        font-size: 1.4rem;
    }


    #horca{
        margin-top: 15%;
        width: 99%;
        height: 50%;
    }
    .botones{
        margin-top: 10%;
        display: flex;
        justify-content: space-evenly;
    }
    .botonNuevoJuego, .botonRendirse{
        height: 8vh;
        font-size: 1.4rem;
    }
    footer{
        height: 2.7vh;
        width: auto;
    }
    .copyright{
        font-size: 1.3rem;
        padding-top: .5%;
    }
}
